<div id="about-card" class="card unloaded">
  <h3>
    I'm a full stack developer with years of experience designing responsive,
    hi-res websites. I can switch painlessly between server-side Javascript code
    and Photoshop documents, and I love working in teams where I’m integral to
    many parts of an app. I’m currently looking for a full-time position to work
    on great web-based products.
  </h3>
  <div class="skillsContainer">
    <h3>Skills</h3>
    <div class="iconContainer">
      <div class="icon">
        <img src="../../../images/jsIcon.svg" alt="Javascript Icon" height="70%" /> </div>
      <div class="icon yo">
        <img src="../../../images/htmlIcon.svg" alt="HTML 5 Icon" height="70%" />
      </div>
      <div class="icon">
        <img src="../../../images/cssIcon.svg" alt="CSS Icon" width="70%" />
      </div>
      <div class="icon">
        <img src="../../../images/gitIcon.svg" alt="Git Icon" height="70%" />
      </div>
      <div class="icon">
        <img src="../../../images/sassIcon.svg" alt="Sass Icon" width="70%" />
      </div>
      <div class="icon">
        <img src="../../../images/bootstrapIcon.svg" alt="Bootstrap Icon" height="70%" />
      </div>
      <div class="icon">
        <img src="../../../images/jqueryIcon.svg" alt="jQuery Icon" width="70%" />
      </div>
      <div class="icon">
        <img src="../../../images/adobeIcon.svg" alt="Adobe Icon" height="70%" />
      </div>
    </div>
  </div>
  <div class="adobeCert">
    <div class="container">
      <p>Adobe Certified Expert - <span>Photoshop</span></p>
      <img src="../../../images/adobe-logo.png" alt="" />
    </div>
  </div>
  <div class="connectLink">
    <a href="https://www.linkedin.com/in/ethangodt" target="_blank"
      >learn more on linkedin<span> ></span></a
    >
  </div>
</div>
