<div id="about-card" class="card unloaded">
  <img class="float" src="../../../images/ethan-sand.jpeg" />
  <p>
    I'm a software engineer with years of experience building web applications
    at scale. Most recently I was at PayPal working as a full stack engineer on
    their Node.js layer. There I learned how to move quickly, and have an impact
    on products used by hundreds of millions of users. I led large-scale
    releases for new features (pushed alongside international marketing
    campaigns, and Time Square billboards), refactored legacy applications, and
    interviewed and trained new hires.
  </p>

  <p>
    In my early career I was a designer working in print and digital.
    Eventually, I started focussing on web design exclusively. As autodidact as
    they come, I became too curious about how to get the web apps I was
    designing to work myself, and so I dug deeper and deeper into the software
    realm. This years long journey brought me through the basics of programming,
    client side patterns and frameworks, building reliable server-side
    applications at scale, and most recently to best practices for data-oriented
    distributed systems (database tradeoffs, availability patterns, etc).
  </p>

  <p>
    My previous experience enables me to switch painlessly between service-level
    scalability discussions, client and server JS patterns, and even Photoshop
    documents. I love working on teams where I’m integral to many parts of an
    app. That said, depending on the opportunity I’m happy to sit exclusively in
    a single domain whether it’s client-side or services.
  </p>
  <div class="skillsContainer">
    <h3>Proficiencies</h3>
    <div class="iconContainer">
      <div class="icon">
        <img src="../../../images/linux-logo.png" alt="Javascript Icon" />
      </div>
      <div class="icon">
        <img src="../../../images/jsIcon.svg" />
      </div>
      <div class="icon">
        <img src="../../../images/node-logo.png" />
      </div>
      <div class="icon">
        <img src="../../../images/postgres-logo.png" alt="Sass Icon" />
      </div>
      <div class="icon">
        <img src="../../../images/react-logo.png" alt="Bootstrap Icon" />
      </div>
      <div class="icon">
        <img src="../../../images/htmlIcon.svg" />
      </div>
      <div class="icon">
        <img style="width: 45%;" src="../../../images/cssIcon.svg" />
      </div>
      <div class="icon">
        <img src="../../../images/adobeIcon.svg" alt="Adobe Icon" />
      </div>
    </div>
  </div>
</div>
