<div id="stcCrossfit" class="card unloaded">
  <img class="headerImage" src="../../../images/stcCrossfitHeader.jpg" />
  <p class="solo">
    CrossFit St. Charles is the prominent CrossFit gym in the St. Charles area,
    and as CrossFit gained popularity over the past couple years they very
    quickly outgrew their Typepad "drag and drop" site. We were happy to build
    them something that better suited their needs.
  </p>
  <div class="browserSnapshot">
    <img src="../../../images/stcCrossfitHighlight.jpg" />
  </div>
  <div class="browserSnapshot">
    <img src="../../../images/stcCrossfitPageLayout.jpg" />
  </div>
</div>
