<div id="ekklesiaStl" class="card unloaded">
  <img class="headerImage" src="../../../images/ekkHeader.jpg" />
  <p class="solo">
    Ekklesia was a small religious organization that needed a first website.
    They had been previously relying on a podcasting app to share messages and
    news, so we built them a responsive site that they transitioned to using in
    junction with social media for communication.
  </p>
  <div class="browserSnapshot">
    <img src="../../../images/ekkHighlight.jpg" />
  </div>
  <div class="browserSnapshot">
    <img src="../../../images/ekkPageLayout.jpg" />
  </div>
</div>
