<div class="card unloaded">
  <div
    style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;"
  >
    <iframe
      style="position: absolute; width: 100%; height: 100%; left: 0; top: 0;"
      width="100%"
      src="https://www.youtube.com/embed/Hh2UOuA_X4w"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <!--  <video-->
  <!--    width="100%"-->
  <!--    muted-->
  <!--    controls-->
  <!--    poster="../../../images/paypal-gifting-poster.png"-->
  <!--  >-->
  <!--    <source-->
  <!--      src="../../../images/paypal-gifting-header.webm"-->
  <!--      type="video/webm"-->
  <!--    />-->
  <!--    <source src="../../../images/paypal-gifting-header.mp4" type="video/mp4" />-->
  <!--  </video>-->
  <img class="float" src="../../../images/gift-sketch.png" />
  <p>
    I was fortunate to lead the development of a new gifting feature for our
    main P2P application. This added the option to select and attach
    professionally designed cards to friends and family transactions. The 3D UI
    of the flow made it one of the most engaging client-side projects I’ve
    worked on.
  </p>
  <p>
    The initial launch featured holiday cards designed by the famous designer,
    Jonathan Adler.
  </p>
  <p>
    The cards are animated with React Motion, and CSS 3D transforms. It was a
    fun experience to see my work on morning news television, and on Time Square
    billboards the week of initial release.
  </p>
  <div style="background: linear-gradient(45deg, #a6d6b9, #37a3ff);">
    <img src="../../../images/portfolio-gifting.png" />
  </div>
</div>
