<div class="card unloaded negative">
  <div
    style="background: linear-gradient(45deg, #6f6fa2, #e062e0);"
    class="browser-screenshot-wrapper"
  >
    <img src="../../../images/jaws.png" />
  </div>
  <p style="margin-top: 0;">
    Our team prioritized the freedom to address general pain points unrelated to
    our product. Of the various issues I worked on, this tool was one of my
    favorites. This is an internal tool I designed and built with a team member
    which allows you to quickly spin up stage accounts for testing purposes.
  </p>
  <p>
    The existing tool left a lot to be desired, to say the least. This tool,
    though, created accounts with a single click, and allowed you to save,
    share, and recreate custom account types easily. It was built with Electron
    (not the fastest for the CPU :), but it allowed us to build it quickly) so
    we could add global keyboard shortcuts to create and paste new account
    emails into staging apps on the fly. After a couple of weeks, or so, we were
    able to share our solution with our organization and got good adoption for
    the new tool.
  </p>
  <p>
    It’s important to me to be given the autonomy to explore opportunities not
    directly related to the product.
  </p>
</div>
