<div class="card unloaded negative">
  <div
    style="background: linear-gradient(45deg, #539872, #4bb7d8);"
    class="browser-screenshot-wrapper"
  >
    <img src="../../../images/send.png" />
  </div>
  <p>
    At PayPal, I worked on a team which owned the web experience of all P2P
    products. This includes sending money to friends and family, special
    PayPal.me accounts, and Money Pools (funds which can be used for vacation,
    group-sharing Christmas gifts, or for fundraisers). We supported tens of
    millions of unique users every month. I worked closely with designers and
    product managers to grow the service globally, and to add new major
    features. In addition to product work, I interviewed and trained new hires
    and gave regular presentations about internal technology.
  </p>
  <div
    style="background: linear-gradient(45deg, #535398, purple);"
    class="browser-screenshot-wrapper"
  >
    <img src="../../../images/money-pools.png" />
  </div>
</div>
