<div class="card unloaded">
  <div
    style="background: linear-gradient(45deg, #539872, #4bb7d8);"
    class="browser-screenshot-wrapper"
  >
    <img src="../../../images/send.png" />
  </div>
  <p>
    At PayPal, I worked on the P2P team and owned the web experiences for
    PayPal’s main non-merchant products. In particular we had three primary
    responsibilities: the main P2P transfer app at PayPal.com (above photo), a
    service called PayPal.me, and PayPal Money Pools (below photo — “pools” of
    money that can be collected for vacation, group-sharing Christmas gifts, or
    for fundraisers). We supported tens of millions of unique users every month.
  </p>
  <p>
    I was writing server and client side JS code daily. Our team placed an
    emphasis on testing, and communication. We often had tech talks/lunches
    where I shared about new technologies, or a deep dive about some existing
    internal tool. Every pull request required multiple reviewers and "enough"
    conversation, and we frequently tackled projects together. That level of
    collaboration is important to me on any team. As one of the largest JS teams
    at PayPal, we worked together with Web Infra teams to make internal tooling
    better (early adoption of core modules, etc).
  </p>
  <p>
    I worked closely with designers and product managers to grow the service
    globally, and to add major features. In addition to product work, I
    interviewed and trained new hires.
  </p>
  <div
    style="background: linear-gradient(45deg, #535398, purple);"
    class="browser-screenshot-wrapper"
  >
    <img src="../../../images/money-pools.png" />
  </div>
</div>
