<div id="plantMidwest" class="card unloaded">
<!--  <video width="100%" autoplay loop muted playsinline>-->
<!--    <source src="../../../images/paypal-gifting-header.mov" type="video/mp4">-->
<!--  </video>-->
<!--  <img class="header" src="../../../images/plantMidwestHeader.jpg" />-->
  <img class="float right" src="../../../images/float-image.png" />
  <p>
    PlantMidwest is a new St. Louis religious organization that meets quarterly
    in several cities throughout the midwest. Through LaunchBot Creative I was
    able to design their first website.
  </p>
  <p>
    The site needed to describe the organization, make it very easy to sign up
    for their quarterly events, and catalog media from each of those events for
    later viewing. We worked with the client for a few months altering page
    designs and functionality, and eventually landed on a final product that is
    one of the best sites that we delivered. The home page above and the image
    clips below are a sample of the muted and modern feel of the final design.
  </p>

  <img src="../../../images/plantMidwestHightlight.jpg" />
  <div class="browserSnapshot">
    <img src="../../../images/plantMidwestPageLayout.jpg" />
  </div>
</div>
