<div id="plantMidwest" class="card unloaded">
  <img class="header" src="../../../images/plantMidwestHeader.jpg" />
  <p>
    PlantMidwest was a religious organization based in St. Louis that met quarterly
    in several cities throughout the midwest. Through LaunchBot Creative I was
    able to design their first website. The final product was one of the
    best sites that we delivered.
  </p>
  <img src="../../../images/plantMidwestHightlight.jpg" />
  <div class="browserSnapshot">
    <img src="../../../images/plantMidwestPageLayout.jpg" />
  </div>
</div>
