<div id="songlink" class="card unloaded">
  <img class="headerImage" src="../../../images/songlinkHeader.jpg" />
  <p>
    Songlink is a URL creation tool — featured on
    <a
      href="http://lifehacker.com/songlink-lets-you-create-music-links-with-multiple-list-1751452321"
      target="_blank"
      >LifeHacker</a
    >
    — that allows people to share music easily. During the development of
    Songlink I undertook both back-end developer and designer responsibilities.
    On the back-end I was integral in developing the API that queried
    third-party catalogs for song information, and on the front-end I designed
    and implemented each page layout. I was also central in conceptualizing a
    request system involving server-side page rendering and CDN caching through
    AWS.
  </p>
  <div class="browserSnapshot">
    <img src="../../../images/songlinkHomepage.jpg" />
  </div>
  <div class="browserSnapshot">
    <img src="../../../images/songlinkSongpage.jpg" />
  </div>
</div>
