<div id="songlink" class="card unloaded">
  <img class="headerImage" src="../../../images/songlinkHeader.jpg" />
  <p>
    Songlink is a URL creation tool, featured on
    <a
      href="http://lifehacker.com/songlink-lets-you-create-music-links-with-multiple-list-1751452321"
      target="_blank"
      >LifeHacker</a
    >, that allows people to share music easily by creating bit.ly-like link
    that works regardless of your streaming service.
  </p>
  <div class="browserSnapshot">
    <img src="../../../images/songlinkHomepage.jpg" />
  </div>
  <div class="browserSnapshot">
    <img src="../../../images/songlinkSongpage.jpg" />
  </div>
</div>
