@font-face {
	font-family: 'nerissemibold';
	src: url('fonts/neris-semibold-webfont.eot');
	src: url('fonts/neris-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/neris-semibold-webfont.woff2') format('woff2'),
	url('fonts/neris-semibold-webfont.woff') format('woff'),
	url('fonts/neris-semibold-webfont.ttf') format('truetype'),
	url('fonts/neris-semibold-webfont.svg#nerissemibold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'neristhin';
	src: url('fonts/neris-thin-webfont.eot');
	src: url('fonts/neris-thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/neris-thin-webfont.woff2') format('woff2'),
	url('fonts/neris-thin-webfont.woff') format('woff'),
	url('fonts/neris-thin-webfont.ttf') format('truetype'),
	url('fonts/neris-thin-webfont.svg#neristhin') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'ubuntulight';
	src: url('fonts/ubuntu-light-webfont.eot');
	src: url('fonts/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/ubuntu-light-webfont.woff2') format('woff2'),
	url('fonts/ubuntu-light-webfont.woff') format('woff'),
	url('fonts/ubuntu-light-webfont.ttf') format('truetype'),
	url('fonts/ubuntu-light-webfont.svg#ubuntulight') format('svg');
	font-weight: normal;
	font-style: normal;

}