nav	{
	width: 150px;
	padding: 30px 0;

	h1 {
		font-size: .9em;
	}

	p {
		display: none;
	};

	li {
		transform-style: preserve-3d;
		font-family: "neristhin", sans-serif;
		color: $textGrey;
		letter-spacing: 2px;
		transition: all 250ms ease;
		max-height: 59px;
		display: block;
		cursor: pointer;
	}

	li > div {
		height: 15px;
		padding: 22px 0;
		width: 100%;
		cursor: pointer;
	}

	li div.default {
		transition: background-color 250ms ease;
		background-color: white;
		transform: translateZ(29.5px);
	}

	li div.active {
		transform: rotateX(90deg) translateZ(88.5px);
		background-color: $textGrey;
		color: white;
	}

	div.default:hover {
		background-color: #8f8a8a;
	}

	li:hover {
		transform: rotateX(-89deg);
	}
}

// TODO break the 3d button stuff out into a mixin
// todo	add -webkit- prefixes to the transforms for safari