/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'nerissemibold';
  src: url("fonts/neris-semibold-webfont.eot");
  src: url("fonts/neris-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/neris-semibold-webfont.woff2") format("woff2"), url("fonts/neris-semibold-webfont.woff") format("woff"), url("fonts/neris-semibold-webfont.ttf") format("truetype"), url("fonts/neris-semibold-webfont.svg#nerissemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'neristhin';
  src: url("fonts/neris-thin-webfont.eot");
  src: url("fonts/neris-thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/neris-thin-webfont.woff2") format("woff2"), url("fonts/neris-thin-webfont.woff") format("woff"), url("fonts/neris-thin-webfont.ttf") format("truetype"), url("fonts/neris-thin-webfont.svg#neristhin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("fonts/ubuntu-light-webfont.eot");
  src: url("fonts/ubuntu-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ubuntu-light-webfont.woff2") format("woff2"), url("fonts/ubuntu-light-webfont.woff") format("woff"), url("fonts/ubuntu-light-webfont.ttf") format("truetype"), url("fonts/ubuntu-light-webfont.svg#ubuntu") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: black; }

h1, h2, h3, h4, h5 h6 {
  font-family: 'nerissemibold', sans-serif;
  letter-spacing: 3px;
  -webkit-font-smoothing: antialiased; }

p {
  font-family: 'ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333131;
  line-height: 180%;
  font-size: .91em; }

a {
  text-decoration: none; }

.cardWrapper, .cardWrapperMid, .cardWrapperBack {
  transition: top 800ms ease;
  position: fixed;
  right: 0;
  margin: 175px auto 40px auto;
  padding: 0 3%; }

.cardWrapperFront {
  position: static;
  margin-bottom: 115px;
  box-shadow: 0 3px 4px rgba(50, 50, 50, 0.2); }

.cardWrapperMid {
  top: -15px;
  z-index: -10; }

.cardWrapperBack {
  top: -95px;
  z-index: -20; }

.card {
  transition: transform 750ms ease, filter 300ms, top 900ms ease, opacity 400ms ease;
  opacity: 1;
  background-color: white;
  max-width: 1060px;
  box-shadow: 0px -2px 4px rgba(50, 50, 50, 0.1);
  position: relative;
  margin: 0 auto;
  top: 0; }

.cardMid {
  opacity: .7; }

.cardBack {
  opacity: .5; }

.unloaded {
  top: 10px;
  opacity: 0; }

@media (min-width: 769px) {
  .cardWrapper, .cardWrapperMid, .cardWrapperBack {
    left: 275px; }

  .cardMid {
    -moz-transform: perspective(7000px) translate3d(0, -37px, -200px);
    -o-transform: perspective(7000px) translate3d(0, -37px, -200px);
    -ms-transform: perspective(7000px) translate3d(0, -37px, -200px);
    -webkit-transform: perspective(7000px) translate3d(0, -37px, -200px);
    transform: perspective(7000px) translate3d(0, -37px, -200px); }

  #devSection .cardMid {
    -moz-transform: perspective(7000px) translate3d(0, -15px, -200px);
    -o-transform: perspective(7000px) translate3d(0, -15px, -200px);
    -ms-transform: perspective(7000px) translate3d(0, -15px, -200px);
    -webkit-transform: perspective(7000px) translate3d(0, -15px, -200px);
    transform: perspective(7000px) translate3d(0, -15px, -200px); }

  .cardBack {
    -moz-transform: perspective(7000px) translate3d(0, 0, -400px);
    -o-transform: perspective(7000px) translate3d(0, 0, -400px);
    -ms-transform: perspective(7000px) translate3d(0, 0, -400px);
    -webkit-transform: perspective(7000px) translate3d(0, 0, -400px);
    transform: perspective(7000px) translate3d(0, 0, -400px); } }
@media (max-width: 768px) {
  .cardWrapper, .cardWrapperMid, .cardWrapperBack {
    left: 150px; }

  .cardMid {
    -moz-transform: perspective(7000px) translate3d(0, -16px, -200px);
    -o-transform: perspective(7000px) translate3d(0, -16px, -200px);
    -ms-transform: perspective(7000px) translate3d(0, -16px, -200px);
    -webkit-transform: perspective(7000px) translate3d(0, -16px, -200px);
    transform: perspective(7000px) translate3d(0, -16px, -200px); }

  .cardBack {
    -moz-transform: perspective(7000px) translate3d(0, 36px, -400px);
    -o-transform: perspective(7000px) translate3d(0, 36px, -400px);
    -ms-transform: perspective(7000px) translate3d(0, 36px, -400px);
    -webkit-transform: perspective(7000px) translate3d(0, 36px, -400px);
    transform: perspective(7000px) translate3d(0, 36px, -400px); } }
@media (max-width: 485px) {
  .cardWrapper, .cardWrapperMid, .cardWrapperBack {
    left: 0;
    margin-top: 225px; }

  .cardMid {
    -moz-transform: perspective(7000px) translate3d(0, -12px, -200px);
    -o-transform: perspective(7000px) translate3d(0, -12px, -200px);
    -ms-transform: perspective(7000px) translate3d(0, -12px, -200px);
    -webkit-transform: perspective(7000px) translate3d(0, -12px, -200px);
    transform: perspective(7000px) translate3d(0, -12px, -200px); }

  .cardBack {
    -moz-transform: perspective(7000px) translate3d(0, 40px, -400px);
    -o-transform: perspective(7000px) translate3d(0, 40px, -400px);
    -ms-transform: perspective(7000px) translate3d(0, 40px, -400px);
    -webkit-transform: perspective(7000px) translate3d(0, 40px, -400px);
    transform: perspective(7000px) translate3d(0, 40px, -400px); } }
nav {
  background-color: white;
  text-align: center;
  position: fixed;
  will-change: transform; }
  nav h1 {
    font-size: 20px;
    color: #333131;
    margin-top: 50px;
    margin-bottom: 60px; }
    nav h1 span {
      display: block;
      margin-top: 15px;
      font-size: .7em;
      color: #92f19d; }
  nav #navIcon {
    display: none;
    position: absolute;
    height: 18px;
    top: 19px;
    right: 10px;
    cursor: pointer; }
    nav #navIcon .navIconFill {
      fill: #757773; }
  nav p {
    margin: 0 30px 60px 30px; }
  nav ul {
    height: auto; }
  nav li {
    transform-style: preserve-3d;
    font-family: "neristhin", sans-serif;
    color: #333131;
    letter-spacing: 2px;
    transition: all 250ms ease;
    max-height: 59px;
    display: block;
    cursor: pointer; }
  nav li > div {
    height: 15px;
    padding: 22px 0;
    width: 100%;
    cursor: pointer; }
  nav li div.default {
    transition: background-color 250ms ease;
    background-color: white;
    -moz-transform: translateZ(29.5px);
    -o-transform: translateZ(29.5px);
    -ms-transform: translateZ(29.5px);
    -webkit-transform: translateZ(29.5px);
    transform: translateZ(29.5px); }
  nav li div.active {
    -moz-transform: rotateX(90deg) translateZ(88.5px);
    -o-transform: rotateX(90deg) translateZ(88.5px);
    -ms-transform: rotateX(90deg) translateZ(88.5px);
    -webkit-transform: rotateX(90deg) translateZ(88.5px);
    transform: rotateX(90deg) translateZ(88.5px);
    background-color: #333131;
    color: white; }

.hoverEnabled nav div.default:hover {
  background-color: #8f8a8a; }

.hoverEnabled nav li:hover {
  -moz-transform: rotateX(-89deg);
  -o-transform: rotateX(-89deg);
  -ms-transform: rotateX(-89deg);
  -webkit-transform: rotateX(-89deg);
  transform: rotateX(-89deg); }

@media (min-width: 769px) {
  nav {
    height: 100%;
    width: 275px;
    padding: 30px 0; } }
@media (max-width: 768px) {
  nav {
    height: 100%;
    width: 150px;
    padding: 30px 0; }
    nav h1 {
      font-size: .9em; }
    nav p {
      display: none; }
    nav ul {
      height: 236px; } }
@media (max-width: 485px) {
  nav {
    display: block;
    position: fixed;
    top: 0;
    height: 25px;
    width: 100%;
    padding: 15px 0;
    z-index: 100; }
    nav h1 {
      margin-top: 0;
      margin-bottom: 0; }
      nav h1 span {
        margin-top: 3px; }
    nav #navIcon {
      display: inherit; }
    nav ul {
      margin-top: 13px;
      overflow: hidden;
      height: 0; }
    nav ul.mobileMenuTransition {
      transition: height 250ms ease; }
    nav li div.default {
      background-color: #e7e7e7; } }
.main-wrapper {
  position: relative;
  padding: 175px 3% 0 3%;
  overflow: auto; }
  .main-wrapper .titleContainer {
    z-index: -100;
    top: 70px;
    position: fixed; }
    .main-wrapper .titleContainer h2 {
      font-size: 3em;
      color: white;
      letter-spacing: 9px; }
  .main-wrapper p {
    padding: 15px 9% 15px 9%; }
  .main-wrapper p.solo {
    padding: 9%; }
  .main-wrapper .italic {
    font-style: italic; }

.main-wrapper::before {
  content: '';
  background: url("../images/cloud-bg.jpg") no-repeat;
  background-size: cover;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -110;
  position: fixed;
  margin-left: -3%;
  will-change: transform;
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.sectionContainer {
  transition: opacity 500ms ease;
  display: none;
  opacity: 1; }

.inactive {
  opacity: 0; }

@media (min-width: 769px) {
  .main-wrapper {
    margin-left: 275px; } }
@media (max-width: 768px) {
  .main-wrapper {
    margin-left: 150px; } }
@media (max-width: 485px) {
  .main-wrapper {
    margin-top: 55px;
    margin-left: 0; }
    .main-wrapper .titleContainer {
      top: 140px; }
      .main-wrapper .titleContainer h2 {
        font-size: 3em;
        color: white;
        letter-spacing: 9px;
        position: fixed; }

  .main-wrapper::before {
    opacity: .6; } }
#aboutSection h3 {
  padding: 9%;
  line-height: 180%;
  letter-spacing: 0;
  font-size: 1.4em;
  font-family: 'ubuntu', sans-serif; }
#aboutSection h3 + p {
  padding-top: 0; }
#aboutSection .skillsContainer {
  padding: 60px 0 120px 0;
  text-align: center;
  background: url("../images/script-bg.jpg"); }
  #aboutSection .skillsContainer h3 {
    padding: 0;
    font-family: 'nerissemibold', sans-serif; }
  #aboutSection .skillsContainer .iconContainer {
    margin-top: 20px;
    padding: 0 9% 0 9%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    -webkit-justify-content: center; }
    #aboutSection .skillsContainer .iconContainer .icon {
      transition: all 300ms ease;
      position: relative;
      height: 140px;
      width: 140px;
      background-color: white;
      margin: 0 4px 8px 4px; }
    #aboutSection .skillsContainer .iconContainer .icon:hover {
      margin-top: -5px;
      margin-bottom: 3px;
      height: 150px;
      width: 150px; }
    #aboutSection .skillsContainer .iconContainer img {
      height: 70%;
      position: absolute;
      top: 50%;
      margin-top: -35%;
      left: 50%;
      margin-left: -35%; }
#aboutSection .adobeCert {
  height: 75px;
  padding: 45px 20px;
  background-color: #262626; }
  #aboutSection .adobeCert .container {
    max-width: 500px;
    display: block;
    margin: 0 auto;
    padding: 0 15px; }
  #aboutSection .adobeCert p {
    float: left;
    color: white;
    margin-top: 20px;
    font-size: 1.2em;
    padding: 0; }
    #aboutSection .adobeCert p span {
      color: #9f95ff; }
  #aboutSection .adobeCert img {
    float: right;
    width: 70px; }
#aboutSection .connectLink {
  text-align: center;
  overflow: auto; }
  #aboutSection .connectLink a {
    display: inline-block;
    transition: color 350ms;
    padding: 0;
    margin: 20px 0 20px 0;
    text-decoration: none;
    font-family: 'ubuntu', sans-serif;
    color: #333131;
    line-height: 180%;
    font-size: .91em; }
  #aboutSection .connectLink a:hover {
    color: #d1d1d1; }

@media (max-width: 768px) {
  #aboutSection h3 {
    font-size: 1.3em; }
  #aboutSection .adobeCert .container {
    text-align: center; }
    #aboutSection .adobeCert .container p {
      float: none; }
    #aboutSection .adobeCert .container img {
      display: none; } }
@media (max-width: 485px) {
  #aboutSection h3 {
    font-size: 1.1em; } }
#designSection img {
  width: 100%; }
#designSection .browserSnapshot {
  padding: 0 50px;
  background-color: #ececec; }
#designSection .browserSnapshot:first-of-type {
  padding-top: 9%;
  background-color: #ececec; }
#designSection .browserSnapshot:last-of-type {
  padding-top: 30px;
  padding-bottom: 75px;
  background-color: #ececec; }

#plantMidwest > div:last-of-type {
  padding: 9%;
  background-color: #ececec; }

#plantMidwest .headerImage + p {
  padding-top: 40px; }
#plantMidwest .browserSnapshot:last-of-type {
  padding-top: 9%;
  padding-bottom: 75px;
  background-color: #ececec; }

#stcCrossfit .headerImage + p {
  padding-top: 40px; }

#ekklesiaStl .headerImage + p {
  padding-top: 40px; }

#devSection img {
  width: 100%; }
#devSection p {
  margin: 30px 0; }
#devSection #dartfeed p {
  margin: 6% 0; }
#devSection .browserSnapshot {
  padding: 0 50px;
  background-color: #ececec; }
#devSection .browserSnapshot:first-of-type {
  padding-top: 75px;
  margin-top: 50px;
  background-color: #ececec; }
#devSection .browserSnapshot:last-of-type {
  padding-top: 30px;
  padding-bottom: 75px;
  background-color: #ececec; }

/*# sourceMappingURL=main.css.map */
